<h1>Edit Landmark</h1>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Name:</label>
    <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">

  <br>

  <label>Year Completed:</label>
    <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>">

  <br>

  <input type="submit" value="Edit Landmark">
</form>
