<h1>Edit Figure!</h1>

<form method="POST" action="/figures/<%= @figure.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Name:</label>
    <input type="text" name="figure[name]" value="<%= @figure.name %>" id="figure_name">

</form>
