<h1>Figures</h1>

<ul>
  <% Figure.all.each do |figure| %>
    <li><a href="/figures/<%= figure.id %>"> <%= figure.name %></a>
  <% end %> 
</ul>

<a href="/figures/new">Create a New Figure</a>
<br>
<a href="/landmarks">Landmarks</a>
