<h1>Create a New Figure</h1>

<form method="POST" action="/figures">
  Name: <input type="text" id="figure_name" name="figure[name]">

  Titles:
    <% Title.all.each do |title| %>
      <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>"> <%= title.name %></input>
    <% end %> 




</form>
